tmp/
.ansible

# Editor / IDE
.vscode/
.idea/
*.swp
*.swo

# Python
__pycache__/
*.pyc
.venv/
venv/

#Sensitive info
vault-pass

.markdownlint.yaml
.pre-commit-config.yaml

# Terraform
**/.terraform/
*.tfstate
*.tfstate.backup
*.tfplan
.terraform.lock.hcl

